<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>11</TotalTime><Application>LibreOffice/6.4.3.2$Windows_X86_64 LibreOffice_project/747b5d0ebf89f41c860ec2a39efd7cb15b54f2d8</Application><Pages>1</Pages><Words>0</Words><CharactersWithSpaces>0</CharactersWithSpaces><Paragraphs>1</Paragraphs></Properties>